<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Only articles</title>
</head>
<body>
<ul>
    <li><a href="{{ url({app: 'news', alias: 'aonly', id: 1}) }}">News 1</a></li>
    <li><a href="{{ url({app: 'news', alias: 'aonly', id: 2}) }}">News 2</a></li>
    Версия {{ app.config.version }}
    Новостей {{ apps.news.count }}
</ul>
</body>
</html>